In [3]:
import numpy as np
import pandas as pd

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('../../datasets/credit-card-fraud-dataset/fraudTrain.csv')

In [4]:
# printing the first five rows in the dataset
credit_card_data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [5]:
# Printing the last 5 rows of the dataset
credit_card_data.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [6]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [7]:
# checking for missing values in the dataset in each column
credit_card_data.isnull()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1296671,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1296672,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1296673,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1296674,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
# checking the distribution of legit transactions & fraud transactions
# it is good to know the balance of the dataset because if the dataset is
# unbalanced it may not be a good set to teach with
credit_card_data['is_fraud'].value_counts()

0    1289169
1       7506
Name: is_fraud, dtype: int64

In [6]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.is_fraud == 0]
fraud = credit_card_data[credit_card_data.is_fraud == 1]

In [7]:
print(legit.shape)
print(fraud.shape)

(1289169, 23)
(7506, 23)

In [9]:
# statistical measures of the data
legit.amt.describe()

count    1.289169e+06
mean     6.766711e+01
std      1.540080e+02
min      1.000000e+00
25%      9.610000e+00
50%      4.728000e+01
75%      8.254000e+01
max      2.894890e+04
Name: amt, dtype: float64

In [10]:
# statistical measures of the fraudulent data
fraud.amt.describe()

count    7506.000000
mean      531.320092
std       390.560070
min         1.060000
25%       245.662500
50%       396.505000
75%       900.875000
max      1376.040000
Name: amt, dtype: float64

In [11]:
# compare the values for both transactions
credit_card_data.groupby('is_fraud').mean()

C:\Users\rioca\AppData\Local\Temp\ipykernel_32820\4236177945.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  credit_card_data.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,648473.169029,4.172901e+17,67.667110,48805.107481,38.536888,-90.228142,88775.228137,1.349249e+09,38.536659,-90.228274
1,624949.724354,4.003577e+17,531.320092,48038.714229,38.663609,-89.916041,97276.763256,1.348389e+09,38.653901,-89.915808

In [12]:
# Build a sample dataset containing similar distribution of normal 
# transactions and fraudulent transactions 
legit_sample = legit.sample(n=7506)

In [14]:
# Concatenating two dataframes
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [15]:
new_dataset.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
195433,195433,2019-04-10 23:18:30,6011542681743618,fraud_Pouros-Conroy,shopping_pos,3.22,Emily,Hall,F,8851 Reese Neck,...,38.8089,-78.7776,863,"Engineer, mining",1972-08-09,21bcedd4d0282d49fd0aa1a7dcfe0524,1334099910,39.002990,-79.559417,0
167333,167333,2019-03-29 22:45:25,4708992452821239,fraud_Swift PLC,kids_pets,72.71,Jared,Walters,M,3326 Hannah Fords,...,35.8184,-91.3375,376,"Designer, ceramics/pottery",1938-09-08,0d44a2b074ee23fd0b508905500dc189,1333061125,36.056858,-92.277354,0
1178956,1178956,2020-05-07 06:54:53,36078114201167,fraud_Pagac LLC,shopping_pos,27.87,Christopher,Horn,M,956 Sanchez Highway,...,37.2692,-82.9161,798,Facilities manager,1926-06-26,f430cc2b95d3766b98134b7be58b7ddf,1367909693,37.557056,-82.467005,0
1237393,1237393,2020-05-31 14:41:41,2269768987945882,fraud_Fadel Inc,health_fitness,11.62,Shannon,Patterson,F,9808 Ellis Bypass,...,42.6835,-77.8664,4895,Acupuncturist,1958-10-29,047357e5f1e0585b03429af91112f99a,1370011301,41.812232,-78.066605,0
1246615,1246615,2020-06-02 22:35:37,180058696935600,fraud_O'Keefe-Hudson,grocery_pos,65.07,Richard,Barnes,M,1339 Johnson Landing Suite 007,...,42.1890,-74.9229,782,Chartered accountant,2000-08-28,0f773e7af0bdfaa8814fe656478213c5,1370212537,42.268162,-75.096221,0

In [16]:
new_dataset.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
1295399,1295399,2020-06-21 01:00:08,3524574586339330,fraud_Kassulke PLC,shopping_net,977.01,Ashley,Cabrera,F,94225 Smith Springs Apt. 617,...,27.6330,-80.4031,105638,"Librarian, public",1986-05-07,a83b093f0c1d9068fa0089f7c722615f,1371776408,26.888686,-80.834389,1
1295491,1295491,2020-06-21 01:53:35,3524574586339330,fraud_Schumm PLC,shopping_net,1210.91,Ashley,Cabrera,F,94225 Smith Springs Apt. 617,...,27.6330,-80.4031,105638,"Librarian, public",1986-05-07,f75b35bed13b9e692f170dba45a15b21,1371779615,28.216707,-79.855648,1
1295532,1295532,2020-06-21 02:16:56,4005676619255478,"fraud_Tillman, Dickinson and Labadie",gas_transport,10.24,William,Perry,M,458 Phillips Island Apt. 768,...,30.4590,-90.9027,71335,Herbalist,1994-05-31,a0ba2472cd3fc9731f2a18d3f308f5c3,1371781016,29.700456,-91.361632,1
1295666,1295666,2020-06-21 03:26:20,3560725013359375,fraud_Corwin-Collins,gas_transport,21.69,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,31.8599,-102.7413,23,Cytogeneticist,1969-09-15,daa281350b1e16093c7b4bf97bf4d6ed,1371785180,32.675272,-103.484949,1
1295733,1295733,2020-06-21 03:59:46,4005676619255478,fraud_Koss and Sons,gas_transport,10.20,William,Perry,M,458 Phillips Island Apt. 768,...,30.4590,-90.9027,71335,Herbalist,1994-05-31,0c1c20470fc0d16019b5c368cadf563a,1371787186,31.363252,-89.932309,1

In [18]:
# we are going to find the value count of fraud and normal trans
new_dataset['is_fraud'].value_counts()

0    7506
1    7506
Name: is_fraud, dtype: int64

In [19]:
# This is a good way to check if we got a good sample or a bad sample
# We can see that the means still correspond to the differences with 
# the larger samples.
new_dataset.groupby('is_fraud').mean()

C:\Users\rioca\AppData\Local\Temp\ipykernel_32820\3914756909.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_dataset.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,648393.914735,3.940219e+17,66.112029,49310.896483,38.542686,-90.567721,85733.194511,1.349244e+09,38.533874,-90.560551
1,624949.724354,4.003577e+17,531.320092,48038.714229,38.663609,-89.916041,97276.763256,1.348389e+09,38.653901,-89.915808

In [20]:
# Splitting the data into features and targets
# Here we are creating a new dataset that does not have the 'is_fraud'
# column and we are creating a variable that has only the 'is_fraud' info
X = new_dataset.drop(columns='is_fraud',axis=1)
Y = new_dataset['is_fraud']

In [21]:
print(X)

         Unnamed: 0 trans_date_trans_time            cc_num  \
195433       195433   2019-04-10 23:18:30  6011542681743618
167333       167333   2019-03-29 22:45:25  4708992452821239
1178956     1178956   2020-05-07 06:54:53    36078114201167
1237393     1237393   2020-05-31 14:41:41  2269768987945882
1246615     1246615   2020-06-02 22:35:37   180058696935600
...             ...                   ...               ...
1295399     1295399   2020-06-21 01:00:08  3524574586339330
1295491     1295491   2020-06-21 01:53:35  3524574586339330
1295532     1295532   2020-06-21 02:16:56  4005676619255478
1295666     1295666   2020-06-21 03:26:20  3560725013359375
1295733     1295733   2020-06-21 03:59:46  4005676619255478

                                     merchant        category      amt  \
195433                    fraud_Pouros-Conroy    shopping_pos     3.22
167333                        fraud_Swift PLC       kids_pets    72.71
1178956                       fraud_Pagac LLC    shopping_pos    27.87
1237393                       fraud_Fadel Inc  health_fitness    11.62
1246615                  fraud_O'Keefe-Hudson     grocery_pos    65.07
...                                       ...             ...      ...
1295399                    fraud_Kassulke PLC    shopping_net   977.01
1295491                      fraud_Schumm PLC    shopping_net  1210.91
1295532  fraud_Tillman, Dickinson and Labadie   gas_transport    10.24
1295666                  fraud_Corwin-Collins   gas_transport    21.69
1295733                   fraud_Koss and Sons   gas_transport    10.20

               first       last gender                          street  ...  \
195433         Emily       Hall      F                 8851 Reese Neck  ...
167333         Jared    Walters      M               3326 Hannah Fords  ...
1178956  Christopher       Horn      M             956 Sanchez Highway  ...
1237393      Shannon  Patterson      F               9808 Ellis Bypass  ...
1246615      Richard     Barnes      M  1339 Johnson Landing Suite 007  ...
...              ...        ...    ...                             ...  ...
1295399       Ashley    Cabrera      F    94225 Smith Springs Apt. 617  ...
1295491       Ashley    Cabrera      F    94225 Smith Springs Apt. 617  ...
1295532      William      Perry      M    458 Phillips Island Apt. 768  ...
1295666       Brooke      Smith      F       63542 Luna Brook Apt. 012  ...
1295733      William      Perry      M    458 Phillips Island Apt. 768  ...

           zip      lat      long  city_pop                         job  \
195433   22810  38.8089  -78.7776       863            Engineer, mining
167333   72524  35.8184  -91.3375       376  Designer, ceramics/pottery
1178956  41836  37.2692  -82.9161       798          Facilities manager
1237393  14510  42.6835  -77.8664      4895               Acupuncturist
1246615  13752  42.1890  -74.9229       782        Chartered accountant
...        ...      ...       ...       ...                         ...
1295399  32960  27.6330  -80.4031    105638           Librarian, public
1295491  32960  27.6330  -80.4031    105638           Librarian, public
1295532  70726  30.4590  -90.9027     71335                   Herbalist
1295666  79759  31.8599 -102.7413        23              Cytogeneticist
1295733  70726  30.4590  -90.9027     71335                   Herbalist

                dob                         trans_num   unix_time  merch_lat  \
195433   1972-08-09  21bcedd4d0282d49fd0aa1a7dcfe0524  1334099910  39.002990
167333   1938-09-08  0d44a2b074ee23fd0b508905500dc189  1333061125  36.056858
1178956  1926-06-26  f430cc2b95d3766b98134b7be58b7ddf  1367909693  37.557056
1237393  1958-10-29  047357e5f1e0585b03429af91112f99a  1370011301  41.812232
1246615  2000-08-28  0f773e7af0bdfaa8814fe656478213c5  1370212537  42.268162
...             ...                               ...         ...        ...
1295399  1986-05-07  a83b093f0c1d9068fa0089f7c722615f  1371776408  26.888686
1295491  1986-05-07  f75b35bed13b9e692f170dba45a15b21  1371779615  28.216707
1295532  1994-05-31  a0ba2472cd3fc9731f2a18d3f308f5c3  1371781016  29.700456
1295666  1969-09-15  daa281350b1e16093c7b4bf97bf4d6ed  1371785180  32.675272
1295733  1994-05-31  0c1c20470fc0d16019b5c368cadf563a  1371787186  31.363252

         merch_long
195433   -79.559417
167333   -92.277354
1178956  -82.467005
1237393  -78.066605
1246615  -75.096221
...             ...
1295399  -80.834389
1295491  -79.855648
1295532  -91.361632
1295666 -103.484949
1295733  -89.932309

[15012 rows x 22 columns]

In [22]:
print(Y)

195433     0
167333     0
1178956    0
1237393    0
1246615    0
          ..
1295399    1
1295491    1
1295532    1
1295666    1
1295733    1
Name: is_fraud, Length: 15012, dtype: int64

In [31]:
# Split the data into Training Data and Testing Data
# This will be split randomly
# 'test_size': is the percentage of the data that you want to use - 
#     80% goes to the training data and 20% to the testing data
# 'X_train': is the dataset that does not contain the 'is_fraud' data
# 'Y_train': is what contains all 'is_fraud' data as labels
# 'stratify=Y': evenly distributes the Y data over the training and test data
# 'Random_state': How you want to split your data

# The way I understand it is: There are four variables, 80% of the data
#  goes into the training data which is the variables ending in 'train'
#  and 20% goes into test. The variables that start with 'Y' is the data
#  that corresponds to the 'is_fraud' data which tells which transaction
#  is or isnt fraud. Variables starting with 'X' incldues the rest of 
#  the data. This is essentially grouping by the 'is_fraud' column.
#  This all makes sense when you realize it is supposed to go on a graph.
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [32]:
print(X.shape, X_train.shape, X_test.shape)

(15012, 22) (12009, 22) (3003, 22)

In [33]:
# Model Training -------------------------
#  Logistic Regression

In [36]:
model = LogisticRegression()

In [37]:
# Training the LogisticRegression Model with training data
model.fit(X_train, Y_train)

ValueError: could not convert string to float: '2019-05-18 09:54:07'

In [38]:
# Model Evaluation
#  Accuracy Scrore
#   accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

ValueError: could not convert string to float: '2019-05-18 09:54:07'